.head {
	position: sticky;
	z-index: 1;
	top: 0;

	font-size: var(--font-size-s);
	font-weight: 700;
	color: var(--table-header-text-color);
	text-transform: uppercase;

	background-color: var(--content-background);
}

.sortIcon {
	height: 1rem;
	margin-left: var(--spacing-xs);

	color: var(--brand-500);

	opacity: 0;

	transition:
		opacity 0.2s ease,
		transform 0.2s ease;
}

.column {
	user-select: none;
	height: 5rem;
	padding: 0 var(--spacing-s);
	border-bottom: 1px solid var(--divider-color);

	&.left {
		text-align: left;
	}

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}

	&.sortable {
		cursor: pointer;
	}

	&.ascSort .sortIcon,
	&.descSort .sortIcon {
		opacity: 1;
	}

	&.descSort .sortIcon {
		transform: rotate(180deg);
	}
}
