.totals {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: var(--spacing-s);
	margin: 0;
}

.total {
	padding: var(--spacing-s);
	border: var(--border-width-xs) solid var(--divider-color);
	border-radius: var(--border-radius-base);
	background: var(--content-background);
}

.label {
	composes: composable-caption-font from global;
	color: var(--secondary-text-color);
}

.value {
	margin: 0;
	font-size: var(--font-size-xl);
	font-weight: 700;
}
