.form {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-xs);
	align-items: flex-end;

	margin-bottom: var(--spacing-s);
}

.field {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xxs);
}

.label {
	composes: composable-caption-font from global;
	color: var(--secondary-text-color);
}

.input {
	min-width: 7rem;
	padding: var(--spacing-xxs) var(--spacing-xs);
	border: var(--border-width-xs) solid var(--divider-color);
	border-radius: var(--border-radius-s);

	font: inherit;
	color: inherit;

	background: var(--content-background);
}

.prefix {
	min-width: 12rem;
}
