/* MARK: Cells */
.installation,
.tokens,
.billing {
	display: inline-flex;
	flex-direction: column;
	gap: var(--spacing-xxs);
}

.tokens {
	align-items: flex-end;
	white-space: nowrap;
}

.repository {
	font-weight: 700;
}

.secondary {
	composes: composable-caption-font from global;
	color: var(--secondary-text-color);
}

/* MARK: Billing status */
.status {
	composes: composable-subheader-font from global;
	white-space: nowrap;
}

.neutral {
	color: var(--secondary-text-color);
}

.success {
	color: var(--success);
}

.caution {
	color: var(--caution);
}

.error {
	color: var(--error);
}
