/* MARK: Layout */
.footer {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-base);

	padding: var(--spacing-l) var(--spacing-base);
	border-top: var(--border-width-xs) solid var(--divider-color);

	font-size: var(--font-size-s);
	color: var(--secondary-text-color);

	background: var(--content-background);
}

.content {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-l);

	width: 100%;
	max-width: var(--breakpoint-medium);
	margin: 0 auto;
}

.column {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);

	a:hover {
		color: var(--brand-500);
	}
}

/* MARK: Content */
.name {
	font-weight: 700;
	color: var(--primary-text-color);
}

.email {
	color: var(--brand-500);
}

.version {
	composes: composable-caption-font from global;
	width: 100%;
	max-width: var(--breakpoint-medium);
	margin: 0 auto;
}
