/* MARK: Generic */
.input {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xxs);
}

.label {
	composes: composable-caption-font from global;
	color: var(--secondary-text-color);
}

.inputElement {
	height: 4rem;
	padding: 0 var(--spacing-s);
	border: var(--border-width-xs) solid var(--input-border-color);
	border-radius: var(--border-radius-s);

	font-size: var(--font-size-base);

	background: var(--input-color);
	outline: none;
	caret-color: var(--brand-500);

	&:focus-visible {
		border-color: var(--brand-500);
	}
}

.textarea {
	resize: vertical;

	height: auto;
	min-height: 12rem;
	padding: var(--spacing-xs) var(--spacing-s);

	line-height: 1.5;
}

.errorText {
	composes: composable-caption-font from global;
	color: var(--error);
}

/* MARK: States */
.disabled {
	opacity: 0.5;
}

.error .inputElement {
	border-color: var(--error);
}
