/* MARK: Layout */
.header {
	position: sticky;
	z-index: 1;
	top: 0;

	display: flex;
	gap: var(--spacing-base);
	align-items: center;

	min-height: var(--header-height);
	padding: var(--spacing-xs) var(--spacing-base);

	background: var(--content-background);
	box-shadow: var(--box-shadow);

	@media (width <= 64rem) {
		flex-wrap: wrap;
		gap: var(--spacing-s);
		padding: var(--spacing-xs) var(--spacing-s);
	}
}

.brand {
	font-size: var(--font-size-l);
	font-weight: 700;
	color: var(--brand-500);
	text-transform: uppercase;
	white-space: nowrap;
}

.navigation {
	display: flex;
	flex: 1;
	gap: var(--spacing-s);

	@media (width <= 64rem) {
		flex-basis: 100%;
		order: 3;
	}
}

.right {
	display: flex;
	gap: var(--spacing-s);
	align-items: center;
	margin-left: auto;
}

/* MARK: Links */
.link {
	padding: var(--spacing-xs) 0;
	border-bottom: 2px solid transparent;
	font-weight: 700;
	color: var(--secondary-text-color);

	&:hover {
		color: var(--primary-text-color);
	}
}

.active {
	border-bottom-color: var(--brand-500);
	color: var(--primary-text-color);
}

.language {
	composes: composable-subheader-font from global;
	color: var(--secondary-text-color);

	&:hover {
		color: var(--brand-500);
	}
}
