/* MARK: Layout */
.container {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-base);

	width: 100%;
	max-width: var(--breakpoint-large);
	height: 100%;
	margin: 0 auto;
	padding: var(--spacing-base);
}

/* MARK: Loading area */
.loadingArea {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
}
