{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-clean-order"
  ],
  "rules": {
    "value-keyword-case": [
      "lower",
      {
        "ignoreProperties": ["composes"]
      }
    ],
    "max-nesting-depth": 2,
    "selector-class-pattern": [
      "^[a-z][A-Za-z\\d]*$",
      {
        "message": "Expected selector to be camelCase for easier CSS-module usage."
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "selector-max-type": [
      0,
      {
        "ignoreTypes": ["svg", "path", "a", "img", "input", "h1", "h2", "h3", "h4", "h5"],
        "message": "Please use class selectors instead to avoid unwanted side effects."
      }
    ],
    "no-descending-specificity": [
      true,
      {
        "ignore": ["selectors-within-list"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*/composables.css"],
      "rules": {
        "selector-class-pattern": [
          "composable-[a-z]+",
          {
            "message": "Expected composable selector to be defined as composable-[name]"
          }
        ]
      }
    }
  ]
}
