.composable-caption-font {
	font-size: var(--font-size-xs);
	line-height: 1.6rem;
}

.composable-subheader-font {
	font-size: var(--font-size-s);
	font-weight: 700;
	line-height: 2rem;
	text-transform: uppercase;
}
