.badge {
	composes: composable-subheader-font from global;

	padding: var(--spacing-xxs) var(--spacing-xs);
	border-radius: var(--border-radius-xs);

	color: var(--inverted-text-color);
	white-space: nowrap;
}

/* MARK: Tones */
.neutral {
	background: var(--secondary-text-color);
}

.info {
	background: var(--info);
}

.active {
	background: var(--caution);
}

.success {
	background: var(--success);
}

.error {
	background: var(--error);
}
